.aurora-wrapper {
  position: relative;
  /* height: 100vh; */
  background-color: #f8fafc;
  /* color: #1e293b; */
  overflow: hidden;
  padding: 2rem 10rem;
}

.aurora-overlay {
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  pointer-events: none;
  background-image:
    repeating-linear-gradient(
      100deg,
      #9FD3EA 10%,
      #DAB2FF 15%,
      #9FD3EA  20%,
      #ddd6fe 25%,
      #60a5fa 30%
    ),
    repeating-linear-gradient(
      100deg,
      #fff 0%,
      #fff 7%,
      transparent 10%,
      transparent 12%,
      #fff 16%
    );
  background-size: 300% 200%;
  background-position: 50% 50%, 50% 50%;
  opacity: 0.5;
  filter: blur(10px) ;
  animation: aurora 60s linear infinite;
  z-index: 1;
}

.radial-mask .aurora-overlay {
  mask-image: radial-gradient(ellipse at 100% 0%, black 10%, transparent 70%);
  -webkit-mask-image: radial-gradient(ellipse at 100% 0%, black 10%, transparent 70%);
}

@keyframes aurora {
  0% {
    background-position: 50% 50%, 50% 50%;
  }
  100% {
    background-position: 350% 50%, 350% 50%;
  }
}
