.footer {
  position: relative;
  background-color: #ffffff;
  padding: 1px;
  transform: skewY(-6deg);
}

.footer .tall-right {
  width: 30%;
  height: 3rem;
  position: absolute;
  right: 0;
  top: -3rem;
  background-color: #00d4ff;
}

.footer .tall-right .short-right {
  width: 12rem;
  height: 3rem;
  position: absolute;
  left: 15rem;
  bottom: -3rem;
  background-color: #635bff;
  mix-blend-mode: multiply;
  opacity: 0.9;
}

.footer .tall-left {
  width: 30%;
  height: 3rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #635bff;
}

.footer .tall-left .short-left {
width: 12rem;
    height: 2rem;
    position: absolute;
    right: 8rem;
    top: -2rem;
    mix-blend-mode: multiply;
    background-color: #00d4ff;
    opacity: 0.9;
}

.footer-content {
  transform: skewY(6deg);
  max-width: 1080px;
  margin-inline: auto;
  padding-block: 10rem;
  padding-inline: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-content__brand {
  padding-inline: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
  color: #0e2540;
}

.footer-content__brand-logo {
  width: 10rem;
  height: 4rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content__brand-logo .icon {
  width: 7rem;
  height: 7rem;
  transition: 300ms;
}

.footer-content__brand-logo .icon:hover {
  opacity: 0.5;
  cursor: pointer;
}

.footer-content__brand-location button,
.footer-content__brand-language button {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 0.5rem;
}

.footer-content__brand-location button:hover,
.footer-content__brand-language button:hover {
  opacity: 0.9;
}

.footer-content__brand-commerce {
  margin-top: auto;
}

.footer-content__brand-commerce div {
  padding: 0.5rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer-content .center-links {
  display: flex;
  justify-content: center;
}

.footer-content__links {
  column-count: 2;
  margin-bottom: 8rem;
  gap: 2rem;
}

.footer-content-box {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  line-height: 2.7rem;
  break-inside: avoid;
  color: #002640;
}

.footer-content-box h4 {
  max-width: 200px;
}

.footer-content-box a {
  transition: 100ms;
}

.footer-content-box a:hover {
  opacity: 0.7;
}

/* Empty sections for future content, you can remove or fill as needed */
/* .footer-content__products,
.footer-content__solutions,
.footer-content__customSolutions,
.footer-content__developers,
.footer-content__resources,
.footer-content__company {
} */
