/* styles/Footer.module.css */

.footerBg {
  /* background: linear-gradient(to top right, #d6f2ff, #e3f4fd); */
  background-image: url('/images/Footer.png');
  background-size: cover;
  /* background-position: center center; */
  background-size: cover;
  padding: 10rem;
    /* -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), transparent);
mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), transparent); */
}

/* Email input styling */
.email {
  border-radius: 8px;
  padding: 12px 24px;
  color: black;
  font-size: 16px;
  border: 1px solid #000;
}
.footerBg  .text-dark{
  color: #000 !important;
}
.svg{
  padding-left: 1rem;
  display: flex;
}
/* Custom vertical borders on desktop only */
.custom-border {
  position: relative;
}
.cborder{
  border-right: 1px solid #90A1B9;
}
@media (min-width: 768px) {
  .custom-border::before,
  .custom-border::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: #90A1B9;
  }

  .custom-border::before {
    left: 0;
  }

  .custom-border::after {
    right: 0;
  }
}
