.nav1 {
    padding: 1.25rem 15vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
}

.nav1 .ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
}

 .nav1  .li {
    padding-left: 2.4375rem;
}

 .nav1  .a {
    color: #fff;
    font-size: 0.875rem;
    text-decoration: none;
    font-style: normal;
    line-height: 1.5rem; /* 171.429% */
    letter-spacing: 0.0125rem;
}

@media screen and (max-width: 1199px) {
    .nav1  {
        padding: 1.25rem 5vw;
    }
}

@media screen and (max-width: 899px) {
   .nav1  .li,
   .nav1  .a {
        display: none;
    }
}
.nav2 {
    padding: 1.25rem 15vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
}

.nav2 .ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
}

 .nav2  .li {
    padding-left: 2.4375rem;
}

 .nav2  .a {
    color: #000;
    font-size: 0.875rem;
    text-decoration: none;
    font-style: normal;
    line-height: 1.5rem; 
    letter-spacing: 0.0125rem;
}

@media screen and (max-width: 1199px) {
    .nav2  {
        padding: 1.25rem 5vw;
    }
}

@media screen and (max-width: 899px) {
   .nav2  .li,
   .nav2  .a {
        display: none;
    }
}