.slick-slide {
  padding: 8px !important; 
}

.slick-track {
  margin-left: -8px !important;
  margin-right: -8px !important;
}
.slick-slide .slick-active{
width: 24rem !important;
}
.slick-slider {
  cursor: grab !important;
}
.slick-slider:active {
  cursor: grabbing !important;
}
.reviewslider{
background-color: #f6f9fc;
background-image: url('/images/Pattern.png');
background-repeat: no-repeat;
/* background-position: center center; */
padding-top: 10rem;
padding-bottom: 10rem;
margin-top: -98px;
}