  .gridcontainer {
    /* display: grid; */
    padding: 3vw 15vw;
    /* grid-template-columns: repeat(4, 1fr); */
    gap: 16px;
    justify-content: center;
    align-items: center;
    /* row-gap: 60px; */
    /* grid: auto / repeat(4, 1fr); */
    padding-top: 7rem;
  }

  .logosvg {
    width: 160px;
    height: 60px;
  }
  /* .microsoft{
    width: 150px !important;
    height: 40px;
  } */
.slick-slide img:focus,
.slick-slide img:active {
  outline: none !important;
  box-shadow: none !important;
    border: none !important;
}
.slick-slide svg:focus,
.slick-slide svg:active {
  outline: none !important;
  box-shadow: none !important;
    border: none !important;
}
.slick-slide svg {
  outline: none !important;
  border: none !important;
}
.slick-slide img {
  outline: none !important;
  border: none !important;
}
