.faqs{
   background-image: url('/images/SectionBackground.png');
   /* padding: 10rem 5vw 10rem 16vw; */
   background-repeat: no-repeat;
   /* background-position: center center; */
   background-size: cover;
   padding: 10rem;
}
